.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
body {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 45px;
  display: inline-block;
}
.container {
  width: 984px;
  margin: 0 auto;
}
#top-contents {
  padding: 190px 0px;
  background-image: url("../image/background.jpg");
  background-size: cover;
}
#top-contents .layer {
  background-color: rgba(220,220,220,0.6);
  background-size: cover;
}
#top-contents .top-title {
  text-align: center;
}
#top-contents h1 {
  font-size: 80px;
  letter-spacing: 10px;
  text-shadow: 2px 2px 0 #656565;
}
#top-contents h3 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}
#top-contents div ul li {
  display: inline;
  list-style: none;
  font-size: 30px;
  margin-right: 30px;
}
#top-contents div ul li img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
#top-contents a {
  color: #4b4b4b;
  text-decoration: none;
  transition: color 0.5s;
}
#top-contents a:hover {
  color: white;
}
#profile {
  padding: 50px 50px 0 50px;
}
#profile .profile-box {
  margin: 0 auto;
}
#profile figure {
  height: 180px;
  width: 180px;
  float: left;
}
#profile .profile-box img {
  border-radius: 25%;
  margin-left: 20px;
  height: 200px;
  width: 200px;
}
#profile h3 {
  font-size: 25px;
}
#profile ul {
  list-style: none;
}
#profile li {
  font-family: "メイリオ",sans-serif;
  line-height: 30px;
}
#profile .technology ul {
  width: 100%;
}
#profile .technology li {
  letter-spacing: 2px;
  width: 50%;
  float: left;
  line-height: 25px;
}
#profile label {
  font-size: 18px;
  border-left: solid 6px #ff803a;
  margin-right: 30px;
}
.self-introduction {
  float: left;
  width: 65%;
  margin-left: 40px;
}
#works {
  padding: 50px;
}
#works ul {
  list-style: none;
}
#works ul li {
  display: inline;
  margin-left: 20px;
}
.work-detail {
  background-color: #F2F2F2;
  background-size: cover;
  padding-bottom: 40px;
  display: none;
  height: auto;
}
.work-detail h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}
.work-detail table {
  margin: 0 auto;
  border-collapse: collapse;
  padding-bottom: 25px;
  max-height: 400px;
  width: 80%;
}
.work-detail table td {
  border-bottom: solid 1px #D8D8D8;
  line-height: 40px;
}
.work-detail table td + td {
  width: 80%;
}
#contact {
  text-align: center;
  background-size: cover;
  background-color: black;
  padding-bottom: 50px;
}
#contact h2 {
  color: white;
}
#contact .mail {
  font-size: 30px;
  color: white;
  background-color: #4b4b4b;
  width: 60%;
  margin: 0 auto;
}
.section-title {
  padding: 20px 0;
}
.section-title img {
  display: inline-block;
}
.sns {
  margin-top: 40px;
}
.sns p {
  color: white;
}
.sns-link {
  height: 50px;
  width: 50px;
  margin: 5px 20px 0 0;
}
